
    <section class="c-white" [style.background-image]="'url(' + (myimage) + ')'">

            <div>

                <h1 class="promo">Book Addess</h1>

                <h2>Un site fait pour vous ,  Sauvgarder vos contacts en un seul click</h2>

                <p>Totalement gratuit.</p>
                <a routerLink="/contact-list" class="btn btn-primary" >S'inscrire</a>
            </div>
    </section>
    <br>
    <div id="section2" class="container-fluid ">
      <img [src]="croix" alt="" />
      <p id="p1">Enregistreur de contacts ? Vous connaissez ces problèmes !</p>
      <img [src]="croix" alt="" />
      <p>Un contact sur 3 nous perdons ses cordonnées....</p>
      <img [src]="croix" alt="" />
      <p>Tu dois envoyer des SMS, faire des appels pour les récupérer ? </p>
    </div>
    <br>
    <section>
      <h2 class="promo2">Enregistrer Vos Contacts Maintenant </h2>
    <div class="gallery">
        <div class="contentChoix">
          <img id="imageChoix" [src]="contactImg">
          <button id="buttonStyleChoix" class="depo-1">Numéros</button>
        </div>
        <div class="contentChoix">
          <img id="imageChoix"  [src]="appleMail">
          <button id="buttonStyleChoix" class="depo-3">Emails</button>
        </div>
        <div class="contentChoix">
          <img id="imageChoix" [src]="notes">
          <button id="buttonStyleChoix" class="depo-2">Adresses</button>
        </div>
      </div>
    </section>

   





















<!--  -->


