<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form (ngSubmit)="login()" [formGroup]="loginForm" action="">

          <h1>Connexion</h1>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" name ="adresseMail" class="form-control form-control-lg"
                   placeholder="Adresse mail" [(ngModel)] = "user.adresseMail" formControlName="email"/>
            <span class="text-danger" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched">Email invalide</span>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" name="pass" class="form-control form-control-lg"
                   placeholder="Mot de passe" [(ngModel)] = "user.password" formControlName="password"/>
            <span class="text-danger" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched">Mot de passe invalide</span>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="!loginForm.valid">Connexion</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Vous n'avez pas de compte ? <a routerLink="/inscription" class="link-danger">Inscription</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>